<section class="section section--white">
  <div class="container">
    <h2>Great Client I Work With</h2>
    <div class="client">
      <div class="client__list">
        <img class="client__image" src="assets/images/logo/kmk.png" />
      </div>
      <div class="client__list">
        <img class="client__image client__image--high" src="assets/images/logo/bbm.png" />
      </div>
      <div class="client__list">
        <img class="client__image" src="assets/images/logo/liputan6.png" />
      </div>
      <div class="client__list">
        <img class="client__image" src="assets/images/logo/bintang.png" />
      </div>
      <div class="client__list">
        <img class="client__image" src="assets/images/logo/bola.png" />
      </div>
      <div class="client__list">
        <img class="client__image" src="assets/images/logo/klikdokter.png" />
      </div>
      <div class="client__list">
        <img class="client__image" src="assets/images/logo/chordarena.png" />
      </div>
    </div>
  </div>
</section>
