<section class="section">
  <div class="container">
    <h2>Skill Overview</h2>
    <div class="subtitle">
      I have more than 8 years experience building rich web applications. Below is a quick overview of my main technical skill sets and tools I use. Want to find out more about my experience? Check out my online resume.
    </div>
    <div class="skill">
      <div class="skill__box">
        <div class="skill__box__title">
          Backend
        </div>
        <div class="skill__box__icon">
          <svg class="svg-icon svg-icon--white skill__box__icon__item">
            <use xlink:href="{{ '/assets/icons/icomoon.svg#icon-database' }}" />
          </svg>
        </div>
        <ul class="skill__box__list">
          <li class="skill__box__item">
            Php / Laravel
          </li>
          <li class="skill__box__item">
            Ruby / Ruby on Rails
          </li>
          <li class="skill__box__item">
            SQL / PostgreSql /MySql
          </li>
        </ul>
      </div>
      <div class="skill__box">
        <div class="skill__box__title">
          Frontend
        </div>
        <div class="skill__box__icon">
          <svg class="svg-icon svg-icon--white skill__box__icon__item">
            <use xlink:href="{{ '/assets/icons/icomoon.svg#icon-embed' }}" />
          </svg>
        </div>
        <ul class="skill__box__list">
          <li class="skill__box__item">
            React
          </li>
          <li class="skill__box__item">
            Javascript / JQuery
          </li>
          <li class="skill__box__item">
            HTML / CSS / SCSS / LESS
          </li>
        </ul>
      </div>
      <div class="skill__box">
        <div class="skill__box__title">
          Others
        </div>
        <div class="skill__box__icon">
          <svg class="svg-icon svg-icon--white skill__box__icon__item">
            <use xlink:href="{{ '/assets/icons/icomoon.svg#icon-clipboard' }}" />
          </svg>
        </div>
        <ul class="skill__box__list">
          <li class="skill__box__item">
            Test Driven Development
          </li>
          <li class="skill__box__item">
            Agile Methodology
          </li>
          <li class="skill__box__item">
            Performance Optimization
          </li>
          <li class="skill__box__item">
            Analytical Skill
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
