<section class="section section--blue">
  <div class="container">
    <div class="teaser">
      <img class="teaser__image" src="assets/images/profile.jpg" />
      <div class="teaser__text">
        <div class="teaser__hello">
          Hello, my name is
        </div>
        <div class="teaser__name">
          Arif Ramadhan (Ardhan)
        </div>
        <div class="teaser__details">
          a passionate technology who love to explore new things and become inspiration for surroundings. with 9+ years experience in software development, i'm excited to make my experienced benefit to others and ready to lead team to full potential.
        </div>
        <a class="teaser__button" href="/contact">
          Hire Me!
        </a>
      </div>
    </div>
  </div>
</section>
