<section class="section section--blue">
  <div class="container">
    <div class="teaser">
      <img class="teaser__image" src="assets/images/profile.jpg" />
      <div class="teaser__text">
        <div class="teaser__hello">
          Hello, my name is
        </div>
        <div class="teaser__name">
          Arif Ramadhan (Ardhan)
        </div>
        <div class="teaser__details">
          I'm a full-stack developer specialised in backend and frontend development for complex scalable web apps. I usually do my own project alone but also can work in team. Solo project makes me know more not only the development process but also anything from concept, testing, design, analytics and performance to user needs. Want to know how I may help your project? Check out my project or contact me directly.
        </div>
        <a class="teaser__button" href="/contact">
          Hire Me!
        </a>
      </div>
    </div>
  </div>
</section>
