<footer class="footer">
  <ul class="footer__list">
    <li class="footer__item">
      <a class="footer__social" href="{{site.data.profile.github_path}}">
        <svg class="svg-icon svg-icon--white footer__social__icon">
          <use xlink:href="/assets/icons/icomoon.svg#icon-github"></use>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a class="footer__social" href="{{site.data.profile.linkedin_path}}">
        <svg class="svg-icon svg-icon--white footer__social__icon">
          <use xlink:href="/assets/icons/icomoon.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>
