@charset "utf-8";

$base-font-family: Roboto, sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #58677c !default;

$brand-color: #2196F3 !default;
$brand-color-brown:      #5d4037 !default;
$brand-color-green:      #00c853 !default;
$brand-color-ra: #1de9b6 !default;
$brand-color-light:      lighten($brand-color, 40%) !default;
$brand-color-dark: darken($brand-color, 10%) !default;

$grey-color:       #828282 !default;
$dark-color: #333 !default;
$hover-color: rgba(0,0,0,0.1) !default;
$overlay-color: rgba(0,0,0,0.5) !default;
$shadow-color: rgba(0,0,0,0.075) !default;
$white-color: #fff !default;
$white-color-dark: #ccc !default;
$dark-button-color: rgba(0,0,0,0.5) !default;
$background-color: #f7f8fa !default;

$content-width:    1120px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import
  "vendor/normalize",
  "base",
  "layout",
  "highlighting",
  "header",
  "sections/teaser",
  "sections/skill",
  "sections/client",
  "sections/project",
  "sections/hire",
  "footer"
;
